<div class="sidebar">
    <h1 class="logo"><a href="#">ANSWER</a></h1>

    <ul class="item d-flex flex-column justify-content-center align-items-start">
        <li class="itemList mb-4">
            <span class="mdi mdi-chart-box me-3 align-text-top"></span>
            <h2>
                <a href="index.html">Dashboard</a>
            </h2>
        </li>
        <li class="itemList mb-4">
            <span class="mdi mdi-forum me-3 align-text-top"></span>
            <h2>
                <a href="#">Question</a>
            </h2>
        </li>
        <li class="itemList mb-4">
            <span class="mdi mdi-clipboard-text me-3 align-text-top"></span>
            <h2>
                <a href="#">Assignment</a>
            </h2>
        </li>
        <li class="itemList mb-4">
            <span class="mdi mdi-play-box-multiple me-3 align-text-top"></span>
            <h2>
                <a href="#">Course</a>
            </h2>
        </li>
        <li class="itemList mb-4">
            <span class="mdi mdi-account-multiple me-3 align-text-top"></span>
            <h2>
                <a href="admin.html">Admin</a>
            </h2>
        </li>
        <li class="itemList mb-4">
            <span class="mdi mdi-cog me-3 align-text-top"></span>
            <h2>
                <a href="#">Settings</a>
            </h2>
        </li>
    </ul>

    <div class="info d-flex justify-content-start">
        <img class="rounded-circle me-3" src="../assets/images/andychen.jpeg" alt="user_photo">
        <div>
            <p class="name mb-1 fw-bold">Andy Chen</p>
            <p class="email mb-0">andy0401@mail.com</p>
        </div>
    </div>
</div>

<script>
    const nowPage = getPageName()
    const itemLists = document.querySelectorAll(".itemList")
    
    if(nowPage === '') {
        console.log(nowPage)
        itemLists[0].classList.add("active")
    } else {
        pageListOrder = ['index', 'question', 'assignment', 'course', 'admin', 'setting']
        const index = pageListOrder.indexOf(nowPage)

        
        itemLists.forEach((item) => {
            item.classList.remove("active")
        })

        itemLists[index].classList.add('active')
    }

    function getPageName() {
        const pathname = window.location.pathname
        const pathnameFragnebtToArray = pathname.split("/")
        const pageName = pathnameFragnebtToArray[pathnameFragnebtToArray.length-1].split(".html")[0]
        return pageName
    }
</script>